<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Title of article</title>
      </head> 
      <body>
        <h1>title of article</h1>
        <h3>author</h3><span>published date</span>
        <h5>5mins read</h5>
        <h5>100 views</h5>
        <h6>body all content</h6>
      </body> 
</html>