<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add a blog post</title>
    </head>
    <body>
        <form method="post">
            <h3>Title</h3>
            <input type="text" name="title" placeholder="Article Title" required />
            <br></br>
            <h3>Description</h3>
            <input type="text" name="description" placeholder="Describe the article" required />
            <br></br>
            <h3>Body</h3>
            <input type="text" name="body" placeholder="Article Body" required />
            <br></br>
            <h3>Tags</h3>
            <input type="text" name="tags" placeholder="eg: nodejs, react, python" required />
            <br></br>
            <button type="submit">Add</button>
        </form>
    </body>
</html>