<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nonye's Blog Api</title>
      </head> 
      <body>
       <form method="post">
        <input type="text" name="title" placeholder="<%= content.title %>" size="20" style="height: 20px;" required></input>
        <br></br>
        <input type="text" name="description" placeholder="<%= content.description %>" size="50" style="height: 30px;" required></input>
        <br></br>
        <input type="text" name="body" placeholder="<%= content.body %>" size="100" required style="height: 50px;"></input>
        <br></br>
        <input type="text" name="tags" placeholder="<%= content.tags %>" size="20" style="height: 20px;" required></input>
        <br></br>
        <button type="submit">Update</button>
       </form>
       </body>
</html>